

<div class="row center-xs">
  <div class="col-xs-8 col-md-8  col-md-offset-2">
<h1>Ingresos a almacen</h1>

<table>
  <thead>
    <tr>
      <th>Cantidad agregada</th>
      <th>Fecha de Ingreso</th>
      <th>Libro</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @stocks.each do |stock| %>
      <tr>
        <td><%= stock.stockActual %></td>
        <td><%= stock.fechaIngreso %></td>
        <td><%= link_to stock.book.titulo, book_path(stock.book)%></td>
        <td><%= link_to 'Ver ingreso', stock %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo igreso a almacen', new_stock_path %>
</div>
</div>