<%= link_to "Agregar nuevo libro", new_book_path, class:"waves-effect waves-light btn", style:"background-color:#18bc9c; color:#fff; margin-left:80%;"%>   

<div class="center-xs text-center row">

    <% @books.each do |book|%>
        <div class="col-md-4 cards-container">
          <div class="card small sticky-action">
            <div class="card-image waves-effect waves-light">
              <%=image_tag book.cover.url(:medium), class:"activator", style:"margin-top:5%;"%>
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4"><%=book.titulo%><i class="material-icons right">more_vert</i></span>
        
              <p><a href="/cart/<%=book.id%>">Agregar al carrito</a></p> 
              <p style="text-align: right;">$ <%=book.precio_venta%></p>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4"><%=book.titulo%><i class="material-icons right">close</i></span>
              <p><%=book.descripcion%></p>
            </div>
          </div>
        </div>
      <%end%>
  </div>    
