<div style="width: 50%; margin: 0 auto"  class="text-center">
  

  <h1>Titulo: <%= @book.titulo%></h1>

<%= form_for(@book) do |f|%>  


  <div class="field col s4 center-xs" style="width: 20%; margin: 0 auto">
    <%= image_tag @book.cover.url(:medium)%>
  </div>
    <%=f.label :descripcion%>
      <div class="field">      
  <div class="input-field col s6">
            <textarea id="input_text" type="text" length="10" disabled="disabled" style="height: 250px;"></textarea>
            <label for="input_text">    <%= @book.descripcion%></label>
          </div>

  </div>
<%=f.label :autor%>
    <div class="field">
  <div class="input-field col s6">
            <input id="input_text" type="text" length="10"  disabled="disabled">
            <label for="input_text">    <%= @book.autor%></label>
          </div>

  </div>
  <%=f.label :editorial%>
    <div class="field">
  <div class="input-field col s6">
            <input id="input_text" type="text" length="10"  disabled="disabled">
            <label for="input_text">    <%= @book.editorial%></label>
          </div>

  </div>
  <%=f.label :num_paginas, "Numero de paginas"%>
    <div class="field">
  <div class="input-field col s6">
            <input id="input_text" type="text" length="10"  disabled="disabled">
            <label for="input_text">    <%= @book.num_paginas%></label>
          </div>

  </div>

<%=f.label :category_id, "Categoria"%>
  <div class="field">
      <div class="input-field col s6">
            <input id="input_text" type="text" length="10"  disabled="disabled">
            <label for="input_text">    <%= @book.category.nombre%></label>
      </div>
  </div>
<%=f.label :fecha_lanzamiento, "Fecha de Lanzamiento"%>
  <div class="field">
      <div class="input-field col s6">
            <input id="input_text" type="text" length="10"  disabled="disabled">
            <label for="input_text">    <%= @book.fecha_lanzamiento%></label>
      </div>
  </div>

<%=f.label :precio_compra, "Precio de Compra"%>
    <div class="field">
    <div class="input-field col s6">
            <input id="input_text" type="text" length="10"  disabled="disabled">
            <label for="input_text">    <%= @book.precio_compra%></label>
          </div>

  </div>
<%=f.label :precio_venta, "Precio de Venta"%>
  <div class="field">
          <div class="input-field col s6">
            <input id="input_text" type="text" length="10"  disabled="disabled">
            <label for="input_text">    <%= @book.precio_venta%></label>
          </div>

  </div>
  <%=f.label :isbn, "ISBN"%>
  <div class="field">
          <div class="input-field col s6">
            <input id="input_text" type="text" length="10"  disabled="disabled">
            <label for="input_text">    <%= @book.isbn%></label>
          </div>

  </div>
  <%= link_to 'Eliminar', @book, method: :delete, data: { confirm: '¿Estás seguro?' } %>
        
<%end%>
</div>